# Example Environment Variables

# Port to run the application
PORT=3000

# Database URL
DATABASE_URL=mongodb://user:password@localhost:27017/mydatabase

# JWT Secret
JWT_SECRET=mysecretkey

# Environment
NODE_ENV=development
